
---

---

<article data-area="photo" class="card">
  <div></div>
</article>

<style>
  .card[data-area="photo"] {
    align-items: center;
    justify-content: center;
    background:
      radial-gradient(at center right, oklch(0.08 0 0), oklch(0.16 0 0)) padding-box,
      linear-gradient(230deg, oklch(0.2 0 0), oklch(0.25 0 0)) border-box;
    border: 1px solid transparent;
  }
</style>
