---
import ButtonShare from '@/components/ButtonShare.astro';
import Avatar from '../Avatar.astro';
---
<article data-area="profile" class="card">
  <header>
    <Avatar />
    <span>Hi, I'm Hader</span>
    <span>Software engineer</span>
  </header>
  <h1 class="text-gradient_">I love to build things</h1>
  <p>
    I am committed to continuous learning and embracing challenges,
    always with an eye on self-improvement and grateful for the journey.
  </p>
  <ButtonShare />
</article>

<style>
  .card[data-area="profile"] {
    flex-direction: column;
    gap: var(--fluid-2);
    padding: var(--fluid-3);
    background:
      radial-gradient(at center right, oklch(0.08 0 0), oklch(0.16 0 0)) padding-box,
      linear-gradient(230deg, oklch(0.2 0 0), oklch(0.25 0 0)) border-box;
    border: 1px solid transparent;

    & > * {
      z-index: 1;
    }

    .background {
      z-index: 0;
    }

    button {
      z-index: 1;
      position: absolute;
      top: var(--fluid-1);
      right: var(--fluid-1);
    }

    header {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "avatar name"
        "avatar job";
      column-gap: var(--fluid-0);
      row-gap: var(--fluid--4);
      align-items: center;

      span:first-child {
        z-index: 1;
        grid-area: name;
        font-size: var(--fluid-1);
        font-weight: bold;
      }

      span:last-child {
        z-index: 1;
        grid-area: job;
        font-size: var(--fluid-0);
        font-weight: normal;
        color: lch(40 0 0);
      }
    }

    h1 {
      font-weight: 600;
      font-family: monospace;
      -webkit-text-stroke: 1px oklch(1 0 0);
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: var(--fluid-1);
      color: oklch(0.6 0 0);
      max-width: none;
    }
  }
</style>
