---
import Layout from "../layouts/Layout.astro";
import linkedinSVG from "../icons/linkedin.svg?raw";
import xSVG from "../icons/x.svg?raw";
import githubSVG from "../icons/github.svg?raw";
import mailSVG from "../icons/mail.svg?raw";
---

<Layout title="Haderman - home">
  <main>
    <article>
      <a href="https://www.linkedin.com/in/hader-cardona/" target="_blank">
        <Fragment set:html={linkedinSVG} />
      </a>
      <a href="https://x.com/haderman7" target="_blank">
        <Fragment set:html={xSVG} />
      </a>
      <a href="https://github.com/haderman" target="_blank">
        <Fragment set:html={githubSVG} />
      </a>
      <a href="mailto:cardona.hader@gmail.com">
        <Fragment set:html={mailSVG} />
      </a>
    </article>
  </main>
</Layout>

<style is:global>
  main {
    padding: 1rem;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  article {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    /* background: black; */
  }

  a {
    text-decoration: none;
    display: flex;
    color: white;
  }

  a:hover {
    color: hsl(210 40% 33%);
  }

  svg {
    width: 48px;
    height: 48px;
    stroke-width: 0.5;
    stroke: currentColor;
  }
</style>
