---
import Profile from "@/components/cards/Profile.astro";
import Quote from "@/components/cards/Quote.astro";
import Contact from "@/components/cards/Contact.astro";
import Project from "@/components/cards/Project.astro";
import Chat from "@/components/Chat.astro";
import Layout from "@/layouts/Layout.astro";
import GameOfLife from "@/components/cards/GameOfLife.astro";
import imgProjectCovidSrc from "@/images/covid.png";

import "@/styles/root.css";
import Bento from "@/layouts/Bento.astro";
import ImageOfTheDay from "@/components/cards/ImageOfTheDay.astro";

const projectAlanImage =
  "https://raw.githubusercontent.com/haderman/alan-docs/main/screenshots/landing-hero.png";
---

<Layout title="Haderman - home">
  <header class="header-page">
    <!-- <nav>
      <a href="#" aria-disabled="true">🚧 Blog</a>
    </nav> -->
  </header>
  <Bento>
    <Profile />
    <Quote />
    <Contact />
    <Project
      name="Alan"
      title="Alan AI Chat"
      description="VSCode extension to create multiple AI chats"
      imgSrc={projectAlanImage}
      stack={["React", "Typescript", "OpenAI API", "NodeJS", "Astro"]}
      href="https://www.alanai.app/"
    />
    <Project
      name="Covid"
      title="Covid 19 Tracker"
      description="COVID-19 tracker with global statistics and visualizations"
      imgSrc={imgProjectCovidSrc}
      stack={["React", "Javascript", "NextJS", "Graphql"]}
      href="https://covidx19.vercel.app/"
    />
    <!-- <ImageOfTheDay /> -->
    <GameOfLife />
  </Bento>
  <footer>
    <Chat />
  </footer>
</Layout>

<style is:global>
  body {
    padding: var(--fluid-0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fluid-4);

    @media screen and (min-width: 768px) {
      padding: var(--fluid-0);
      gap: var(--fluid-2);
    }
  }

  .header-page {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    padding: var(--fluid-2) 0;

    /* display: none; */
  }

  main {
    width: 100%;
    max-width: 1200px;
  }

  .card {
    --rad: 0; /* var(--fluid-1); */

    display: flex;
    border-radius: var(--rad);
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
    }
  }

  .background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .circles {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lch(0 0 0 / 0.7);
    background-image: radial-gradient(
        circle at center center,
        lch(14 3.04 304.6),
        lch(5 2.22 217.82)
      ),
      repeating-radial-gradient(
        circle at center center,
        lch(49 53.84 218.25),
        lch(22 0 0),
        4px,
        transparent 20px,
        transparent 20px
      );
    background-blend-mode: multiply;
  }

  .card:hover .circles {
    background-image: radial-gradient(
        circle at center center,
        lch(35 53.04 304.6),
        lch(5 2.22 257.82)
      ),
      repeating-radial-gradient(
        circle at center center,
        lch(49 53.84 258.25),
        lch(22 0 250),
        4px,
        transparent 20px,
        transparent 20px
      );
  }

  .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(2px); */
    /* background-color: rgba(0, 0, 0, 0.2); */
  }
</style>
