---
import iconShareSvg from '@/icons/share.svg?raw';
---
<button id="share" disabled>
  <span>Share</span>
  <Fragment set:html={iconShareSvg} />
</button>

<style>
  #share {
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    background-color: unset;
    color: var(--secondary-text);
  }
</style>

<script>
  init();

  function init() {
    const shareButton = document.getElementById('share');

    if (!shareButton) {
      console.error('Share button not found.');
      return;
    }

    if (!navigator.canShare) {
      console.error('Web Share API not supported');
      return;
    }

    const dataToShare: Parameters<typeof navigator.share>[0] = {
      title: 'Check out my website',
      text: 'haderman.dev',
      url: window.location.href,
    }

    if (navigator.canShare(dataToShare)) {
      shareButton.removeAttribute('disabled');
      shareButton.style.opacity = '1';
      shareButton.style.pointerEvents = 'auto';
      shareButton.addEventListener('click', async () => {
        await handleShare(dataToShare);
      });
    }
  }

  async function handleShare(data) {
    navigator.share(data)
      .then(() => {
        console.log('Content shared successfully');
      })
      .catch((error) => {
        console.error('Error sharing content:', error);
      });
  }
</script>
