---
interface Props {
  values: string[];
}

const { values } = Astro.props;
---
<ul>
  {values.map((chip) => {
    return <li>{chip}</li>;
  })}
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--fluid--2);
  }

  li {
    font-size: var(--fluid-0);
    padding: var(--fluid--3) var(--fluid--2);
    border-radius: 0;

    background:
      radial-gradient(at center right, oklch(0.08 0 0), oklch(0.16 0 0)) padding-box,
      linear-gradient(230deg, oklch(0.2 0 0), oklch(0.25 0 0)) border-box;
    border: 1px solid transparent;

  }
</style>
