---
import '@fontsource-variable/montserrat';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Haderman" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>

</style>

<script>
  import { logger } from '@/lib/logger';
  import { settings } from '@/store/settings';

  document.addEventListener('DOMContentLoaded', () => {
    configLogger();
    configTheming();
  });

  function configLogger() {
    console.log('configuring logger');
    logger({
      type: 'pageview',
      href: 'home',
    });

    document.body.addEventListener('click', (e) => {
      const target = (e.target as HTMLElement).closest('a');
      if (target) {
        logger({
          type: 'click',
          href: target.getAttribute('href'),
        });
      }
    });
  }

  function configTheming() {
    settings.subscribe((state) => {
      const $html = document.querySelector('html');
      $html.setAttribute('data-theme', state.theme);
    });
  }
</script>
